<a id="top"></a>
<%
  content_for :page_title, construct_page_title('Policies')
  content_for :page_main_class, 'policies'
%>

<header class="policy-page-header">
  <h1 id="policies">
    <%= I18n.t('sufia.product_name')%> Governing Policies
  </h1>
</header>

<div class="policy-box">
  <a href="javascript:window.print()" class="btn print pull-right"><i class="icon icon-print"></i> Print</a>
</div>

<div class="policy-box">
  <div class="policy-content">
    <%= render partial: '/static_pages/policy_content' %>
  </div>
</div>
