.search-constraint-notice {
  margin-top: 0;
}

.search-constraints {
  margin-bottom: 15px;

  .applied-filter,
  .clear-filters {
    margin-bottom: 5px;
  }

  .applied-filter {
    white-space: normal;
  }

  .applied-constraints {
    .btn {
      text-align: left;
      max-width: 88%;
      vertical-align:top;
    }
  }

  .btn-group + .btn-group {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .search-constraints .applied-constraints {
    direction: ltr;
  }
}
